---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Certificaciones">
  
    <p>
        Java -  básico/intermedio / UNAM - PROTECO - (3 meses)</p>
    <p>
        PHP -  básico/intermedio / UNAM - PROTECO  - (3 meses)</p>
    <p>
        ANDROID -  básico/intermedio / UNAM - PROTECO  - (3 meses)</p>
    <p>
        IOS -  básico/intermedio / UNAM - PROTECO  - (3 meses)</p>
    <p>
        PYTHON -  básico/intermedio / UNAM - PROTECO  - (3 meses)</p>

        <p>Entrepreneurship course for startups Start Up Mexico - (6 meses )</p>
    
</Section>
