---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Certifications">
  
    <p>
        Java -  basic and intermediate / UNAM - PROTECO - (3 months)</p>
    <p>
        PHP -  basic and intermediate / UNAM - PROTECO  - (3 months)</p>
    <p>
        ANDROID -  basic and intermediate / UNAM - PROTECO  - (3 months)</p>
    <p>
        IOS -  basic and intermediate / UNAM - PROTECO  - (3 months)</p>
    <p>
        PYTHON -  basic and intermediate / UNAM - PROTECO  - (3 months)</p>

        <p>Entrepreneurship course for startups Start Up Mexico - (6 months )</p>
    
</Section>
