---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Certifications">
  
    <p>
        Java - java basic and intermediate / UNAM - PROTECO - (3 months)</p>
    <p>
        PHP - java basic and intermediate / UNAM - PROTECO  - (3 months)</p>
    <p>
        ANDROID - java basic and intermediate / UNAM - PROTECO  - (3 months)</p>
    <p>
        IOS - java basic and intermediate / UNAM - PROTECO  - (3 months)</p>
    <p>
        PYTHON - java basic and intermediate / UNAM - PROTECO  - (3 months)</p>

        <p>Entrepreneurship course for startups Start Up Mexico - (6 months )</p>
    
</Section>
