---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Certifications">
  
    <p>
        Java - basic/intermediate / UNAM - PROTECO - (3 months)
    </p>
    <p>
        PHP - basic/intermediate / UNAM - PROTECO - (3 months)
    </p>
    <p>
        ANDROID - basic/intermediate / UNAM - PROTECO - (3 months)
    </p>
    <p>
        IOS - basic/intermediate / UNAM - PROTECO - (3 months)
    </p>
    <p>
        PYTHON - basic/intermediate / UNAM - PROTECO - (3 months)
    </p>
    

        <p>Entrepreneurship course for startups Start Up Mexico - (6 meses )</p>
    
</Section>
