---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Languages">
  <p>
    English - B2 professional competence 
  </p>
  <p>

    Spanish - Native Speaker
  </p>
</Section>
